<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>${title}</title>
</head>

<body>

    <div class="container" style="font-size: 14px;">
        <span class="electric-quantity">
            <img style="width: 14px; height: 14px" src="https://i.ibb.co/zXjCDFf/image.png" alt="电量图标" />
            剩余电量：
            <span style="color: #ffac6c">${electricQuantity}°</span>
        </span>

        <br />

        <span class="cold-water">
            <img style="width: 14px; height: 14px" src="https://i.ibb.co/cDVwbc0/image.png" alt="冷水图标" />
            剩余冷水量：
            <span style="color: #5cc2e4">${coldWater}（吨）</span>
        </span>

        <br />

        <span class="hot-water">
            <img style="width: 14px; height: 14px" src="https://i.ibb.co/xDCkDTV/image.png" alt="热水图标" />
            剩余热水量：
            <span style="color: #f46267">${hotWater}（吨）</span>
        </span>
    </div>
</body>

</html>